
{% extends 'adminAppTemplates/base.html' %}

{% load static %}

{% block body  %}




<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{data}}</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <!-- /.card-header -->
            <div class="card-body">
                <form action="{% url 'add_permission'  %}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}

                    <input type="hidden" id="permission_id" value="{{permission_obj.id}}" name="permission_id">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Permission Name</label>
                                <input type="text" class="form-control" id="" name="permission_name" value="{{permission_obj.permission_name}}" placeholder="Enter Permission" required >
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn me-2 btn-primary">Save</button>
                        <a href="{% url 'show_permission' %}"  class="btn btn-danger light">Cancel</a>
                    </div>
                </form>

            </div>
                <!-- /.col -->

        </div>
        <!-- /.card -->
    </section>
</div>


{% endblock body  %}